---
import '../styles/boletin.css'
---

<section class="boletin">
<div class="boletin-cont">

<div class="boletin-grid">
    <h3>¡Suscríbete a nuestro boletín!</h3>

<div class="footer-susc">
   
    <div id="mc_embed_shell">
      <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
  <style type="text/css">
        #mc_embed_signup{
          background:#ffffff00; 
          false;
          clear:left; 
          font:14px Helvetica,Arial,sans-serif; 
          width: 580px;
          margin-left: -1.2rem;
        }

        @media screen and (min-width:300px) and (max-width:800px) {

          #mc-embedded-subscribe{
              background-color: #ffffff00;
              color: white;
              border: none;
              margin-top: 1.6rem;
            }

            #mce-EMAIL{
              width: 320px;
              padding-bottom: .8rem;
            }

        }
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
    <form action="https://plankton.us17.list-manage.com/subscribe/post?u=7fa58dd770f7521d71ddeaa08&amp;id=0f4349c1b3&amp;f_id=00deb0e2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
     
         
            <div class="mc-field-group"><!-- <label for="mce-EMAIL" style="color:white">Correo Electrónico <span class="asterisk">*</span></label>-->
              <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""  style="background-color:#ffffff00; border-top-color:#ffffff00;border-right-color:#ffffff00;border-left-color:#ffffff00;border-bottom-color:#ffffff58;" placeholder="Correo Electrónico"></div>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display: none;"></div>
            <div class="response" id="mce-success-response" style="display: none;"></div>
        </div>

        
          <div aria-hidden="true" style="position: absolute; left: -5000px;" >
           <input type="text" name="b_7fa58dd770f7521d71ddeaa08_0f4349c1b3" tabindex="-1" value="">
          </div>

          <div class="clear">
            <i class="bi bi-send"></i>
            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Suscríbete" >
          </div>
     

    </div>
</form>
</div>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[4]='PHONE';ftypes[4]='phone';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
</div>

</div>
</div>
</section>