---
import '../styles/componente-prueba.css';

import {Image} from 'astro:assets';

import UBSLogo from '../assets/ubs-logo.webp';
---

<section class="pruebas-com">
    <div class="card">
        <i class="bi bi-code-square"></i>
        <p class="text">Texto de la tarjeta</p>
      </div>
      
</section>