---
import '../styles/pruebas.css'
---
<div class="global">


<section class="mainpruebas slide active" id="slide1">
    <div class="container">
        <div >
            <h3 class="animacionh3">PLANKTON WALLET</h3>
            <h1 class="animacionh1">Soluciones Tecnológicas Personalizadas</h1>
            <div class="flotante">
                <p class="animacionp">Plankton Wallet se especializa en ofrecer <br>
                    soluciones digitales seguras, personalizadas <br>
                    y de fácil acceso, permitiéndote gestionar <br>
                    tus recursos con confianza y eficiencia.
                </p>
            </div>
        </div>
        <div class="botones">
        <button class="prev"><i class="bi bi-arrow-left"></i></button>
        <button class="next"><i class="bi bi-arrow-right"></i></button>
        </div>
      
      </div> 
</section>

<section class="mainpruebas-slide2 slide" id="slide2">
    <div class="container2">
        <div >
            <h3 class="anmiacionh3-2">PLANKTON WALLET</h3>
            <h1 class="animacionh1-2">Soluciones Tecnológicas Personalizadas</h1>
            <div class="flotante2">
                <p class="animacionp-2">Plankton Wallet se especializa en ofrecer <br>
                    soluciones digitales seguras, personalizadas <br>
                    y de fácil acceso, permitiéndote gestionar <br>
                    tus recursos con confianza y eficiencia.
                </p>
            </div>
        </div>
        <div class="botones2">
        <button class="prev2"><i class="bi bi-arrow-left"></i></button>
        <button class="next2"><i class="bi bi-arrow-right"></i></button>
    </div>
      </div>
</section>
</div>



<script>
import '../scripts/slide'
    
  </script>