---

import '../styles/serviciosdestacados.css';

---

<section class="serv-des">
    <div class="dest-cont">
        <div class="text-servdesc">

      
        <h4>
            SERVICIOS
        </h4>

        <h1>
            Servicios Destacados
        </h1>

        <p>
            Plankton Wallet te ofrece soluciones avanzadas para una gesti칩n segura y eficiente


        </p>
    </div>
        <div class="servicios-dest-grid">

            <div class="grid-1">
                <i class="bi bi-credit-card-2-front"></i>

                <h3>
                    Wallets a Tu Medida
                </h3>
                
                <span>
                    Dise침a tu wallet digital con total libertad y seguridad.
                </span>
            </div>

            <div class="grid-2">
                <i class="bi bi-cash-coin"></i>
                <h3>
                    Pagos Sin Fronteras
                </h3>
                
                <span>
                    Transacciones sin <br> complicaciones.
                </span>
            </div>

            <div class="grid-3">
                <i class="bi bi-shield-slash"></i>
                <h3>
                    Blindaje Antifraude
                </h3>
                
                <span>
                    Protecci칩n integral contra <br> fraudes.
                </span>
            </div>

            <div class="grid-4">
                <i class="bi bi-person-bounding-box"></i>
                <h3>
                    
                    KYC/KYB Confiables
                </h3>
                
                <span>
                    Verificaci칩n de identidad para transacciones.
                </span>
            </div>

        </div>

    </div>

</section>