---
import '../styles/texto.css';

---

<section class="texto">
    <div class="texto-cont">

        <div class="marquee">
            <p>Plankton Wallet • Plankton Wallet • Plankton Wallet •Plankton Wallet • Plankton Wallet • Plankton Wallet • 
                Plankton Wallet • Plankton Wallet • Plankton Wallet •Plankton Wallet • Plankton Wallet • Plankton Wallet • 
                Plankton Wallet • Plankton Wallet • Plankton Wallet •Plankton Wallet • Plankton Wallet • Plankton Wallet • 
                Plankton Wallet • Plankton Wallet • Plankton Wallet •Plankton Wallet • Plankton Wallet • Plankton Wallet • 
                Plankton Wallet • Plankton Wallet • Plankton Wallet •Plankton Wallet • Plankton Wallet • Plankton Wallet • 
                Plankton Wallet • Plankton Wallet • Plankton Wallet •Plankton Wallet • Plankton Wallet • Plankton Wallet • 
                Plankton Wallet • Plankton Wallet • Plankton Wallet •Plankton Wallet • Plankton Wallet • Plankton Wallet • 
                Plankton Wallet • Plankton Wallet • Plankton Wallet •Plankton Wallet • Plankton Wallet • Plankton Wallet • 
                Plankton Wallet • Plankton Wallet • Plankton Wallet •Plankton Wallet • Plankton Wallet • Plankton Wallet • 
                Plankton Wallet • Plankton Wallet • Plankton Wallet •Plankton Wallet • Plankton Wallet • Plankton Wallet • </p> 
          </div>
          

    </div>

</section>

